header{
    background-color: red
    color white;
    text-align: center;
}
main {
    background-color:white;
    color:red;
    text-align: center;
}

    .conteiner-card{
        display: flex;
    }

    img{
        width: 150px;
        height: 100;
    }